.h5p-joubelui-button.h5p-reader-question-button-submit {
  &:last-child {
    margin: 0;
  }
  &.mt {
    margin-top: 0.5em;
  }

  &:after {
    content: "\f138";
    font-family: "H5PFontAwesome4", sans-serif;
    margin-left: 0.5em;
  }
}
