@use "@styles/colors" as colors;

.h5p-reader-question-status-bar {
  display: flex;

  &.alignment-right {
    justify-content: flex-end;
  }

  &.display-none {
    display: none;
  }

  .h5p-reader-question-status-bar-message {
    font-size: 0.9rem;

    &.style-correct {
      color: colors.$color-correct;
    }

    &.style-incorrect {
      color: colors.$color-incorrect;
    }
  }
}
