@use "@styles/colors" as colors;

.h5p-reader-question-text-input-wrapper {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  position: relative;
  overflow-wrap: break-word;
  resize: none;

  .h5p-reader-question-text-input-textarea {
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    cursor: text;
    font-family: inherit;
    font-size: inherit;
    max-width: 100%;
    height: 15.5rem;
    overflow-y: auto;
    padding: 0.5rem;

    &:empty:before {
      color: #888;
      content: attr(placeholder);
      display: block; /* For Firefox */
    }

    p {
      margin: 0 0 1rem 0;
    }
  }

  &.error {
    .h5p-reader-question-text-input-textarea {
      border: 1px solid colors.$color-incorrect;
    }

    .cke {
      border: 1px solid colors.$color-incorrect;
    }
  }
}
