.h5p-reader-question-required-text {
  font-size: 0.75em;
}

.h5p-reader-question-required-wrapper {
  line-height: 1.5em;
  padding: 0 2em 0 0;
  position: relative;

  .h5p-reader-question-answered {
    color: #239059;
    display: inline-block;
  }

  .h5p-reader-question-required-message {
    color: #dd2e2e;
    display: inline-block;
    font-size: 0.9em;
  }

  .hidden {
    display: none;
  }
}
